<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VisionProPlayer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6E730CCA5453DE4D17AA7261E8C7BC3B551720B7</string>
				<key>dateExpires</key>
				<string>10/17/1405 AP</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>29N2XT4U33.com.qoostudio.player</string>
				<key>com.apple.developer.team-identifier</key>
				<string>29N2XT4U33</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>VisionProPlayer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3d119eb0-1fc3-4311-9fae-03df6a02ff38</string>
				<key>dateExpires</key>
				<string>10/17/1405 AP</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.qoostudio.player</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>29N2XT4U33</string>
				<key>name</key>
				<string>Qoo Studio Inc</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
